* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	margin: 50;
}
.header {
	background-color: #384E77;
	color: whitesmoke;
	font-weight: bold;
	font-family: monospace;

}
#brand {
	background-color: #B4CDED;
	color: #384E77;
	font-weight: bold;
	margin: 200;
}
li {display: inline;}
a {color: whitesmoke;}
.header-image {
	height: 350px;
	background-image: url(https://i.pinimg.com/736x/3f/e6/cc/3fe6cc9b3e497483b09e03e60488848c.jpg);
	background-color: lightblue;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center; 
	font-size: 35px;
	color: #384E77; 
	}

.product {
	content: "";
	clear: both;
	display: table;

}
.image {
	float: left;
	width: 33.33%;
/* note: width depends on the amount of images you showcase
e.g. 3 images "width 33.33%", 4 images "width: 25%", 5 images "width 20%" */
	height: 250px;
	padding: 5px;
	transition: 0.10s;
	color: #07004D;

}
.description {
	width: fit-content;
	text-align: center;
	font-family: monospace;
	padding: 10px 16px;
}

.header2 {
	text-align: center;
	padding: 20px;
	background-color: #384E77;
	color: #B4CDED;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 10px;
	font-family: monospace;

}
.container {
	max-width: 500,000px;
	margin: 25px auto;
	padding: 35px;
	background: #384E77;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h1 {
	text-align: center;
}
.container input[type="text"],
.container input[type="password"],
.container input[type="file"] {
	width: 95%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-family: monospace;
}
.container input[type="submit"] {
	width: 100%;
	padding: 10px;
	background: #B4CDED;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.5s ease; 
}
.container input[type="submit"]:hover {
	background: #07004D;
}